P.tx {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial Unicode MS","sans-serif";  FONT-WEIGHT: bold;  MARGIN-LEFT: 0pt;  LINE-HEIGHT: normal;  MARGIN-RIGHT: 0pt; }

P.t3Text3 {FONT-SIZE: 11pt;  FONT-FAMILY: "Times","serif";  COLOR: black;  MARGIN: 0pt 0pt 9pt 28.8pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ;  punctuation-wrap: simple; }

P.Bulleted {FONT-SIZE: 12pt;  FONT-FAMILY: "Times","serif";  COLOR: black;  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: 14pt;  TEXT-AUTOSPACE: ;  TEXT-INDENT: -18pt;  tab-stops: 18.0pt; }

P.c1bCompText1Bold11 {FONT-SIZE: 9pt;  FONT-FAMILY: Letter;  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 0pt 0pt 9pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt;  punctuation-wrap: simple; }

SPAN.NormalItalicChar {FONT-STYLE: italic; }

P.t1Text151 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: black;  MARGIN: 0pt 0pt 9pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ;  punctuation-wrap: simple; }

P.t2Text2 {FONT-SIZE: 11pt;  FONT-FAMILY: "Times","serif";  COLOR: black;  MARGIN: 0pt 0pt 9pt 14.4pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ;  punctuation-wrap: simple; }

P.c1CompText111 {FONT-SIZE: 9pt;  FONT-FAMILY: Letter;  COLOR: black;  MARGIN: 0pt 0pt 9pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt;  punctuation-wrap: simple; }

