P.Heading5Table {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  TEXT-ALIGN: center;  MARGIN: 6pt 0pt 0pt;  LINE-HEIGHT: normal;  tab-stops: 10.0pt 36.0pt; }

P.Heading4Table {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt;  LINE-HEIGHT: normal; }

h4.Heading4Table {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt;  LINE-HEIGHT: normal; }

h5.Heading5Table {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  TEXT-ALIGN: center;  MARGIN: 6pt 0pt 0pt;  LINE-HEIGHT: normal;  tab-stops: 10.0pt 36.0pt; }

P.t1Text131 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: black;  MARGIN: 0pt 0pt 9pt 28.8pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ;  punctuation-wrap: simple; }

